/* SCREEN SIZES
Tablet: max-width: 768px
Phones: max-width: 480px
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(157, 163, 187));
    background-position: center;
    background-size: cover;
    color: #24326f;
    box-sizing: border-box;
    position: fixed;
}

/* NAVBAR */
.navbar {
    padding-left: 2%;
    padding-right: 4%;
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(243, 244, 245));
    z-index: 5;
}


@media screen and (max-height: 630px) {
    .navbar {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 242, 245));
    }
}

@media screen and (max-height: 400px) {
    .navbar {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(232, 234, 245));
    }
}

@media screen and (max-height: 320px) {
    .navbar {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(224, 228, 240));
    }
}

@media screen and (max-height: 250px) {
    .navbar {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(214, 219, 234));
    }
}
.logo {
    width: 80px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #24326f;
    font-weight: 700;
}

nav ul li a:hover {
    color: #e0be14;
}

.anchor{
    display: block;
    height: 6%; 
    margin-top:-6%; 
    visibility: hidden;
}


@media screen and (max-width: 768px) {
    .anchor{
        display: block;
        height: 10%; 
        margin-top:-10%; 
        visibility: hidden;
    }
}
  
button {
    width: 180px;
    color: white;
    font-size: 16px;
    padding: 12px 0;
    background: #24326f;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
 }

 button:hover {
    background: #e0be14;
    color: #24326f;
 }

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(rgb(255, 255, 255), rgb(157, 163, 187));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #24326f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e0be14;
}

